<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Keywords" content="Global Charitable Trust">
    <meta name="description" content="Global Charitable Trust">
    <title>Global Charitable Trust</title>
    
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="image/favicon-16x16.png">
    <!--Main css-->
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Caesar+Dressing|Montserrat:400,700|Open+Sans" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  </head>
  <body ng-app="myapp" ng-controller="auth">
    <section class="header">
      <div class="bg-color">
        <nav class="navbar navbar-inverse">
          <div class="container">
            <div class="navbar-header">
            <a class="navbar-brand" href="index.html"><img src="image/logo.png" style="width:80px;height:80px;"></a>
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
              </button>
              
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#feature">About Us</a></li>
                <!-- <li><a href="#portfolio">Portfolio</a></li> -->
                <li><a href="#contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </nav>
        <div class="container banner-text">
          <!-- <span class="font-16">We Do Creative Things</span> -->
          <h1>Global Charitable Trust</h1>
          <p> was founded in the 21st century by the inspirational words of Martin Luther King <b>"Darkness can't drive out darkness Only Light can do that Hate can't drive out hate,Only Love can do that."</b> Today GCT is amoung few trusted grass root NGOs of India, focusing on ending poverty, social injustce and also to vigilant the poor worker and former of our rural areas in different aspects of their day to day work, so that they all can not be cheated.</p>
          <a href="" class="Started-btn radius-0">Donate</a>
          <!-- <a href="" class="more-btn radius-0">Learn more</a> -->
        </div>
      </div>
    </section>
    <section id="cta-1">
        <div class="container">
            <div class="row">
                <div class="cta-info text-center">
                    <h3><span class="dec-tec">“</span>we make a living by what we get, but we make a life by what we give.<span class="dec-tec">”</span> - winston churchill</h3>
                </div>
            </div>
        </div>
    </section>
    <section id="feature" class="section-padding">
      <div class="container">
        <div class="row">
        <div class="page-title text-center">
            <h1>About Us</h1>
            <hr class="pg-titl-bdr-btm">
          </div>
          <div class="col-md-12">
            <div class="feature-info">
              <div class="fea">
                <div class="col-md-4 col-sm-4">
                  <div class="heading pull-right abc">
                    <img src="image/child.jpg" class="img-responsive" style="height: 200px;width: 250px;">   
                    <h3> Our Vision</h3>
        <p> A society based on legitimate right equity, justice, honesty, social sensitivity and a culture of service in which all are self-reliant GCT Focus And Sole Reason For Existance Is to Work as a Catalyst To bring Sustainable Change in the lives of Under Privileged Childern, youth and woman. </p><br>
                  </div>
                  <div class="fea-img pull-left">
                    <!-- <i class="fa fa-css3"></i> -->
                  </div>
                </div>
              </div>
              <div class="fea">
                <div class="col-md-4 col-sm-4">
                  <div class="heading pull-right abc ">
                  <img src="image/happy-childhood.jpg" class="img-responsive" style="height: 200px;width: 250px;">   
                    <h3> Our Mision</h3>
        <p> To identify and work alongside the economically and socially deprived, so that they become educated skilled and aware.</p>
        <p>Enable them to be self- reliant and enjoy a healthy ,dignified and Sustainable quality of life.</p><br>
                  </div>
                  <div class="fea-img pull-left">
                    <!-- <i class="fa fa-drupal"></i> -->
                  </div>
                </div>
              </div>
              <div class="fea">
                <div class="col-md-4 col-sm-4">
                  <div class="heading pull-right abc">
                  <img src="image/ch.jpg" class="img-responsive" style="height: 200px;width: 250px;">   
                    <h3> What We DO</h3>
        <p>We provide knowledge of computer, Internet, typewriting, shorthand, refrigiration, electrician etc. too have the opportunities of employment.We do this through well-planned and comprehensive programs in health , education , livelihoods and disaster preparedness and response.</p><br>
                  </div>
                  <div class="fea-img pull-left">
                    <!-- <i class="fa fa-trophy"></i> -->
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      </div>
    </section>
   
    <section id="contact" class="section-padding">
        <div class="container">
          <div class="row">
            <div class="page-title text-center">
            <h1>Contact</h1>
            <hr class="pg-titl-bdr-btm">
          </div>
          <div class="col-md-4 col-sm-6 contact-section">
            <h3>Contact Info</h3>
            <div class="space"></div>
            <p><i class="fa fa-map-marker fa-fw pull-left fa-2x"></i>Goel tower Faizabad Road
Near Satya Tiraha Ahshram,Lucknow.</p>
            <div class="space"></div>
            <p><i class="fa fa-envelope-o fa-fw pull-left fa-2x"></i>gctrust443@gmail.com</p>
            <div class="space"></div>
            <p><i class="fa fa-phone fa-fw pull-left fa-2x"></i>+917678896124,7080009960</p>
          </div>
          <div class="col-md-8 col-sm-6 contact-section" >
            <h3>Leave us a message</h3>
            <form ng-submit="sendemail(name,email,msg)">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input  class="form-control" placeholder="Name" required="required" type="text" ng-model="name">
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input  class="form-control" placeholder="Email" required="required" type="email" ng-model="email">
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <textarea name="message" class="form-control" rows="4" placeholder="Message" ng-model="msg" required=""></textarea>
                <p class="help-block text-danger"></p>
              </div>
              <div id="success"></div>
              <button type="submit" class="btn btn-default">Send Message</button>
            </form>
          </div>
        </div>
      </div>    
    </section>
    <footer class="footer section-padding">
      <div class="container">
        <div class="row">
          <div style="visibility: visible; animation-name: zoomIn;" class="col-sm-12 text-center wow zoomIn">
            <h3>Follow us on</h3>
            <div class="footer_social">
              <ul>
                <li><a class="f_facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="f_twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="f_google" href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a class="f_linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
          <!--- END COL --> 
        </div>
        <!--- END ROW --> 
      </div>
      <!--- END CONTAINER --> 
    </footer>
    <div class="footer-bottom">
      <div class="container">
        <div style="visibility: visible; animation-name: zoomIn;" class="col-md-12 text-center wow zoomIn">
          <div class="footer_copyright">
            <p> Copyright © 2016 All Rights Reserved.</p>
            <p> Design by Ritesh & Ravi</p>
          </div>
        </div>
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script>
  var app=angular.module('myapp',[]);
  app.controller('auth',function($scope,$http){
    $scope.sendemail=function(name,email,msg){
      $http({
                method      : "POST",
                url         : "http://sarvodaya.herokuapp.com/sendtogct",
                dataType    : "json",
                data        :{ 
                'email'     :   email,
                'msg'       :   msg,
                'name'      :   name
                },
            }).then(function(response){
              console.log(response.data);
            })
    };
  });
</script>
  </body>
</html>